
<div id="toolbar">
        <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-url="@Url.Action("RenderCategory","Category")">
            <i class="fa fa-plus"></i> | افزودن دسته بندی جدید
        </button>
</div>
<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/Category/GetCategories"
       data-response-handler="responseHandler"></table>

<script src="~/lib/tablec.js"></script>
<script>
      </script>